<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}" />

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" th:href="@{/app.css}" />

    <title >Formularz wpisania</title>
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="container">
            <a th:href="@{/}" class="brand-logo">Gustomierz</a>
            <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>

        </div>
    </nav>
</div>

<div class="gifs container">

   <h3>Bardzo się cieszę, że chcesz sprawdzić swój gust, proszę o wypełnienie pól i możemy zaczynać.</h3>

            <form method="post" th:action="@{/}" th:object="${member}">
                <input type="text" placeholder="Imię" th:field="*{name}" />
                <input type="text" placeholder="Nazwisko" th:field="*{lastname}" />
                <input type="email" placeholder="email" th:field="*{email}" />
                <input type="submit" value="Zaczynam" />
            </form>

</div>

<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>
</body>
</html>