<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<h1> Show Members</h1>

<a th:href="@{/memberadd}">Add member</a>

<h2>Table</h2>
<table border="1">
    <tr>
        <th>name</th>
        <th>lastname</th>
        <th>email</th>
    </tr>
    <tr th:each="member: ${member}" th:object="${member}">
        <td th:text="*{name}">Author1</td>
        <td th:text="*{lastname}">Title1</td>
        <td th:text="*{email}">1234</td>

    </tr>
</table>

</body>
</html>